
.customerReservationListContainer{
    margin-top: 150px;
    margin-left: 150px;
    width: 60%;
    padding-bottom: 100px;
}
.CusResListButtons{
    width: 550px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.CusResListButtons button{
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}